<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>

    <%- include('partials/topnav') %>

    <div class="main-container">

    <!-- if it's admin (only admin have messageList)-->
    <% if(JSON.stringify(locals, null, 2).includes('jsonData')) {%>
        <% jsonData.messageList.forEach((message)=>{ %>
            <div class="unread-message-card">
                <h3><%= message.email %></h3>
                <p><span class="label">From:</span><%= message.name %></p>
                <p><span class="label">Subject:</span><%= message.subject %></p>
                <p class="message"><%= message.message %></p>
            </div>
        <% }) %>

    <!-- not admin (show the normal contact page)-->
    <% }else{ %>

        <h2><a href="https://www.brooklyn.cuny.edu/web/academics/faculty/faculty_profile.jsp?faculty=18"
            title="click to see more">Frank W. Grasso</a></h2>
        <h3> BCR Lab, Department of Psychology, Brooklyn College</h3>
        <p>Location: <a href="https://www.brooklyn.edu/admissions-aid/take-the-next-step/visit/map/"
                title="brooklyn college map">123 Ingersoll Hall Extension</a></p>
        <p>Phone: <a href="tel:7189515631" title="call">718.951.5631</a></p>
        <p>Fax: <a href="fax:7189514814" title="fax">718.951.4814</a></p>
        <p>Email: <a href="mailto:fgrasso@brooklyn.cuny.edu" title="send email">fgrasso@brooklyn.cuny.edu</a></p>
        <div class="container">

        <!-- check any message -->
        <% if(JSON.stringify(locals, null, 2).includes('message')) {%>
            <%= message%>  
        <% }else{ %>
            <h2>Contact Us</h2>
            <form action="/contact/submit" method="post" onsubmit="return confirmSubmission()">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>

                <button type="submit">Submit</button>
            </form>
        <%}%>
    <% } %>

    </div>

    <script>
        function confirmSubmission() {
            const confirmed = confirm("Are you sure you want to submit the form?");
            return confirmed;
        }
    </script>

    <%- include('partials/footer') %>

</body>

</html>