<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <%- include('partials/topnav') %>

        <div class="main-container">

            <!-- user infomation -->
            <% if(JSON.stringify(locals, null, 2).includes('userInfo')) {%>
                <div class="user-panel">

                    <div class="user-info">
                        <h2 class="div-title">My Account:</h2>
                        <p>
                            User: <%=userInfo.name%>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                Email: <%=userInfo.email%>
                        </p>
                    </div>
                    <form action="/logout" method="post" class="btn-box">
                        <button class="btn">Logout</button>
                    </form>
                </div>

                <%} else {%>
                    <div class="user-panel">
                        <p>Feel free to join us!!!</p>
                        <div class="user-info"></div>
                        <div class="btn-box">
                            <button class="btn" onclick="window.location.href='/register'">Register</button>
                            <button class="btn" onclick="window.location.href='/login'">Login</button>

                        </div>
                    </div>
                    <% } %>

                        <!-- news and updates -->
                        <div class="news-updates">
                            <h2 class="div-title">News and Updates</h2>
                            <ul class="news-list">
                                <a href="#">
                                    <li>News 1...</li>
                                </a>
                                <a href="#">
                                    <li>News 2...</li>
                                </a>
                                <a href="#">
                                    <li>News 3...</li>
                                </a>
                            </ul>
                        </div>

                        <!-- Projects -->
                        <div class="projects">
                            <h2 class="div-title">Projects</h2>
                            <ul class="news-list">
                                <a href="#">
                                    <li>Project 1...</li>
                                </a>
                                <a href="#">
                                    <li>Project 2...</li>
                                </a>
                                <a href="#">
                                    <li>Project 3...</li>
                                </a>
                            </ul>
                        </div>

                        <!-- tbd block -->
                        <div class="tbd">
                            <h2 class="div-title">TBD</h2>
                            <blockquote>
                                <p>""</p>
                            </blockquote>
                            <blockquote>
                                <p>""</p>
                            </blockquote>
                        </div>






        </div>

        <%- include('partials/footer') %>

</body>

</html>